.hint-block
{
	font-style: italic;
}


/*
screen-xs:                  480px;
screen-sm:                  768px;
screen-md:                  992px;
screen-lg:                  1200px;
*/

@media (min-width: 480px) {
    .col-xs-auto { width: auto; }
}
@media (min-width: 768px) {
    .col-sm-auto { width: auto; }
}
@media (min-width: 992px) {
    .col-md-auto { width: auto; }
}
@media (min-width: 1200px) {
    .col-lg-auto { width: auto; }
}

@media (min-width: 480px)
{
	.text-center-xs { text-align: center }
	.text-left-xs { text-align: left }
	.text-right-xs { text-align: right }
}
@media (min-width: 768px)
{
	.text-center-sm { text-align: center }
	.text-left-sm { text-align: left }
	.text-right-sm { text-align: right }
}
@media (min-width: 992px)
{
	.text-center-md { text-align: center }
	.text-left-md { text-align: left }
	.text-right-md { text-align: right }
}
@media (min-width: 1200px)
{
	.text-center-lg { text-align: center }
	.text-left-lg { text-align: left }
	.text-right-lg { text-align: right }

}

.hide-spin
{
	-moz-appearance:textfield;
}

.hide-spin::-webkit-outer-spin-button,
.hide-spin::-webkit-inner-spin-button,
{
	/* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.text-as-btn
{
	line-height: 1.42857143;
	padding: 6px 0px;
}



.btn-rl-margin
{
	margin-right: 10px;
	margin-left: 10px;
}


.install-form
{
	padding-top: 50px;
}


.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}



.dashboard-header
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.dashboard-footer
{
	margin-top: 10px;
	margin-bottom: 10px;
}


