.spinner
{
	width: 100%;
	height: 60px;
	position: relative;
}

.x-loading-animation-modal-box
{
	position: absolute;
}

.x-loading-animation-modal-fade
{
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 999999;
	left: 0;
	display: none;
}
