* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: "ProximaNova-Regular";
	src: url("fonts/ProximaNova/ProximaNova-Regular.ttf");
}

@font-face {
	font-family: "ProximaNova-SemiBold";
	src: url("fonts/ProximaNova/ProximaNova-Semibold.ttf");
}

@font-face {
	font-family: "ProximaNova-Bold";
	src: url("fonts/ProximaNova/ProximaNova-Bold.ttf");
}

@font-face {
	font-family: "ProximaNova-Light";
	src: url("fonts/ProximaNova/ProximaNova-Light.ttf");
}

.my-navbar {
	width: 100%;
	padding: 0;
	background-color: #fff !important;
}

.my-navbar .logo-img {
	position: relative;
	left: 15px;
	height: 64px;
	width: 130px;
	margin-right: 100px;
	background: url(icons-imgs/logo.png) no-repeat;
}

@media screen and (max-width: 1200px) {
	.my-navbar .logo-img {
		margin-right: 60px;
	}
}

.navbar-nav .item-block {
	display: block;
	height: 80px;
	width: 100%;
	padding-top: 14px;
	border-right: 1px solid #e5e5e5;
}
.products-link-navbar{
	padding-left: 27px;
	padding-right: 27px;
}

@media screen and (max-width: 991px) {
.navbar-nav .item-block {
		border: none;
	}
}

.navbar-nav .item-block-active {
	background-color: #edf4fa;
}

.navbar-nav .item-block .internal-item-block {
	display: inline-block;
	padding-top: 5px;
	height: 50px;
	border-left: 5px solid #4b92ce;
}

.nav-item .item-block .internal-item-block-none-border {
	display: inline-block;
	padding-top: 5px;
	height: 50px;
}

.item-block .nav-link-indents {
	padding-left: 36px !important;
	padding-right: 45px !important;
	font-size: 16px;
	color: #3e3f43 !important;
	font-family: "ProximaNova-Regular";
}

@media screen and (max-width: 1200px) {
	.item-block .nav-link-indents {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
}

.item-block .products-icon {
	margin-right: 10px;
	width: 25px;
	fill: #4b92ce;
}

.nav-link .stores-icon {
	position: relative;
	bottom: 2px;
	width: 25px;
	fill: #000;
}

.nav-item .my-dropdown-toggle {
	height: 80px;
	border-right: 1px solid #e5e5e5;
	padding: 25px 50px 0 50px !important;
	font-size: 16px !important;
	color: #3e3f43 !important;
	outline: none !important;
	font-family: "ProximaNova-Regular";
}

@media screen and (max-width: 991px) {
	.nav-item .my-dropdown-toggle {
		border-right: none;
	}
}

@media screen and (max-width: 1200px) {
	.nav-item .my-dropdown-toggle {
		padding: 25px 20px 0 20px !important;
	}
}

.bottom-border {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}

.no-border {
	border: none !important;
}

@media screen and (min-width: 991px) {
	.border-right {
		border-right: 1px solid #e5e5e5 !important;
	}
}

.navbar .user-img {
	position: absolute;
	right: 15px;
	top: 20px;
}

@media screen and (max-width: 991px) {
	.navbar .user-img {
		position: absolute;
		right: 90px;
		top: 12px;
	}
}
.item-block .products-icon {
	margin-right: 10px;
}

.nav-link .stores-icon {
	position: relative;
	bottom: 2px;
}

.nav-item .my-dropdown-toggle {
	height: 80px;
	border-right: 1px solid #e5e5e5;
	padding: 25px 50px 0 50px !important;
	font-size: 16px !important;
	color: #3e3f43 !important;
	outline: none !important;
	font-family: "ProximaNova-Regular";
}

@media screen and (max-width: 991px) {
	.nav-item .my-dropdown-toggle {
		border-right: none;
	}
}

@media screen and (max-width: 1200px) {
	.nav-item .my-dropdown-toggle {
		padding: 25px 20px 0 20px !important;
	}
}

.bottom-border {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}

.no-border {
	border: none !important;
}

@media screen and (min-width: 991px) {
	.border-right {
		border-right: 1px solid #e5e5e5 !important;
	}
}

.navbar .user-img {
	position: absolute;
	right: 15px;
	top: 20px;
}

@media screen and (max-width: 991px) {
	.navbar .user-img {
		position: absolute;
		right: 90px;
		top: 12px;
	}
}

.nav-link .menu-button {
	position: relative;
	bottom: 8px;
	background-color: #ff7d1e;
	border: none;
	padding: 13px 20px 13px 20px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	font-family: "ProximaNova-SemiBold";
}

.nav-link .menu-button span {
	margin-left: 5px;
}

.nav-link .button-top-menu-icon {
	position: relative;
	bottom:2px;
}

.navbar .my-navbar-toggler {
	outline: none !important;
}

@media screen and (max-width: 576px) {
	.navbar .my-navbar-toggler {
		margin-right: 15px !important;
	}
}

.saved-icon {
	margin-right: 10px;
	width: 18px;
}

.active-link-indent {
	padding-left: 36px !important;
	padding-right: 45px !important;
	font-size: 16px;
	color: #4b92ce !important;
	font-family: "ProximaNova-Regular";
}

.dropdown-toggle::after {
	border: none !important;
}

.dropdown .down-arrow {
	margin-left: 5px;
}

.indent-mr-auto {
	margin-left: 18px;
}

@media screen and (max-width: 991px) {
	.indent-mr-auto {
		margin-top: 20px;
	}
}

.dropdown-toggle-ellipsis::after {
	display: none;
}

.my-dropdown-toggle + .show {
	width: 199px;
}

@media screen and (max-width: 1200px) {
	.my-dropdown-toggle + .show {
		width: 100px !important;
	}
}

@media screen and (max-width: 991px) {
	.my-dropdown-toggle + .show {
		margin-left: 15px;
	}
}

.dropdown-menu .dropdown-item-styles {
	font-size: 16px;
	font-family: "ProximaNova-Regular";
}

/*Main part*/
.main-title {
	font-size: 50px;
	margin: 50px 0 50px 15px;
	font-family: "ProximaNova-Bold";
}

.main-container-fluid {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	padding: 50px 0;

	-webkit-appearance: none;
	-webkit-box-shadow: 
		inset 0 15px 10px -10px rgb(240,240,241), 
		inset 0 -15px 10px -10px rgb(240,240,241);

	box-shadow: 
		inset 0 15px 10px -10px rgb(240,240,241), 
		inset 0 -15px 10px -10px rgb(240,240,241);
}

.main-container-fluid .questions-title {
	font-size: 35px;
	margin-left: 15px;
	color: #3e3f43;
	margin-bottom: 40px;
	font-family: "ProximaNova-Regular";
}

@media screen and (max-width: 576px) {
	.main-container-fluid .questions-title {
		padding-left: 15px;
	}
}

.main-container-fluid .questions-section, .get-in-touch-section {
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid #e5e5e5;

	box-shadow: -webkit-box-shadow: 0px 0px 16px 3px rgba(240,240,240,1);
	-moz-box-shadow: 0px 0px 16px 3px rgba(240,240,240,1);
	box-shadow: 0px 0px 16px 3px rgba(240,240,240,1);
}

.main-container-fluid .questions-section {
	padding: 20px 40px 20px 40px;
}

.main-container-fluid .questions-section .question-number {
	border-bottom: 1px solid #e5e5e5;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-container-fluid .questions-section .question-number .plus-icon {
	position: relative;
	bottom: 2px;
}

.main-container-fluid .questions-section .question-number span {
	font-size: 19px;
	font-weight: bold;
	margin-left: 15px;
	font-family: "ProximaNova-Regular";

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.question-text {
	display: none;
	margin: 20px 0 10px 33px;
	font-size: 16px;
	color: #78787b;
	font-family: "ProximaNova-Regular";
}

.get-in-touch-title {
	font-size: 35px;
	color: #3e3f43;
	margin: 55px 0 35px 0;
	font-family: "ProximaNova-Regular";
}

@media screen and (max-width: 576px) {
	.get-in-touch-title {
		padding-left: 15px;
	}
}

.get-in-touch-section {
	margin: 0;
}

.get-in-touch-section .title-of-input-field {
	font-size: 13px;
	margin-bottom: 10px;
	font-family: "ProximaNova-Bold";
}

.get-in-touch-section {
	padding: 30px 40px 40px 40px;
}

.get-in-touch-input, .get-in-touch-section .textarea {
	background-color: #edeff1;
	border: none;
	padding: 10px 10px 10px 25px;
	border-radius: 20px;
	margin-bottom: 15px;
	outline: none;
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.get-in-touch-section .textarea {
	height: 120px;
	resize: none;
}

.get-in-touch-input::-webkit-input-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.get-in-touch-input:-moz-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.get-in-touch-input::-moz-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.get-in-touch-input:-ms-input-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.title-of-input-field + .textarea::-webkit-input-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.title-of-input-field + .textarea:-moz-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.title-of-input-field + .textarea::-moz-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.title-of-input-field + .textarea:-ms-input-placeholder {
	color: #727377;
	font-family: "ProximaNova-Regular";
}

.get-in-touch-section .send-button {
	margin-top: 15px;
	display: block;
	padding: 12px 70px 12px 70px;
	background-color: #4b92ce;
	border-radius: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	font-family: "ProximaNova-SemiBold";
}

.width-section-with-button {
	width: 100%;
	margin-right: 15px;
}

.no-margin {
	margin: 0 !important;
}

.questions .border-none {
	border: none !important;
}

/*Bottom section*/
.disclaimer {
	display: block;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #a3a3a3;
	font-family: "ProximaNova-Light";
	border-bottom: 1px solid #e5e5e5;
}

.copyright-indent {
	margin: 22px 0;
}

.copyright {
	display: block;
	text-align: right;
	font-size: 16px;
	color: #737373;
	font-family: "ProximaNova-Light";
}

@media screen and (max-width: 576px) {
	.copyright {
		text-align: left;
	}
}

.contact-website {
	font-size: 16px;
	color: #737373;
	margin-left: 10px;
	font-family: "ProximaNova-Light";
}

.contact-website a {
	color: #737373;
}

.contact-icon-footer {
	position: relative;
	bottom: 2px;
}
/*Main part*/
.main-title {
	font-size: 50px;
	margin: 50px 0 20px 0;
	font-family: "ProximaNova-Bold";
}

@media screen and (max-width: 576px) {
	.main-title {
		line-height: 50px;
	}
}

.border-tabs {
	position: relative;
	top: 41px;
	z-index: 99;
	width: 100%;
	border: 1px solid #e5e5e5 !important;
}

.z-index {
	position: relative;
	z-index: 99;
}

.tabs-section {
	position: relative;
	bottom: 24px;
	background-color: #f5f5f5;
	padding: 0px 0 250px 0;
}

.tab-content-width {
	width: 100%;
	padding: 0 15px 0 15px;
}

.nav-tabs .active-tabs.active {
	background-color: #f5f5f5 !important;
	border-top: 2px solid #ff7d1e;
	border-bottom: 2px solid #f5f5f5;
	color: #000;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 0px;
	font-family: "ProximaNova-SemiBold";
}

.nav-tabs .active-tabs {
	color: #4c4c4c;
	font-size: 14px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "ProximaNova-SemiBold";
}

@media screen and (max-width: 991px) {
	.nav-tabs .active-tabs.active {
		padding-left: 15px;
		padding-right: 15px;
	}

	.nav-tabs .active-tabs {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 576px) {
	.ul-nav-tabs {
		display: block;
	}
	.border-tabs {
		border: none !important;
	}
}

.store-table {
	background-color: #fff;
	padding: 40px 40px 20px 40px;
	border-radius: 8px;

	box-shadow: -webkit-box-shadow: 0px 0px 16px 3px rgba(240,240,240,1);
	-moz-box-shadow: 0px 0px 16px 3px rgba(240,240,240,1);
	box-shadow: 0px 0px 16px 3px rgba(240,240,240,1);
}

.store-table .title-of-table {
	display: block;
	font-size: 13px;
	margin-bottom: 18px;
	font-family: "ProximaNova-SemiBold";
}

.tabs-section .row-of-table {
	border-top: 1px solid #e5e5e5;
	padding: 15px 0 15px 0;
}

.tabs-section .row-of-table a {
	display: inline-block;
	width: 170px;
	font-size: 16px;
	color: #4b92ce;
	padding-left: 5px;
	font-family: "ProximaNova-Light";
}

.tabs-section .row-of-table .button-plus {
	padding: 7px 22px 10px 22px;
	border-radius: 25px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #eeeff3;
}

@media screen and (max-width: 576px) {
	.tabs-section .row-of-table .button-plus {
		margin-top: 10px;
		padding: 5px 15px 8px 15px;
	}
}

.tabs-section .row-of-table .store-already-added {
	display: inline-block;
	padding: 10px 0;
	font-size: 13px;
	color: #969dac;
	font-style: italic;
	font-weight: bold;
	font-family: "ProximaNova-Regular";
}

/*Bottom section*/
.disclaimer {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 16px;
	color: #a3a3a3;
	font-family: "ProximaNova-Light";
	border-bottom: 1px solid #e5e5e5;
}

.copyright-indent {
	margin: 25px 0;
}

.copyright {
	position: relative;
	top: 2px;
	display: block;
	text-align: right;
	font-size: 16px;
	color: #737373;
	font-family: "ProximaNova-Light";
}

@media screen and (max-width: 576px) {
	.copyright {
		text-align: left;
	}
}

.contact-website {
	font-size: 16px;
	color: #737373;
	margin-left: 10px;
	font-family: "ProximaNova-Light";
}

.contact-website a {
	color: #737373;
}
.nav-link .menu-button {
	position: relative;
	bottom: 8px;
	background-color: #ff7d1e;
	border: none;
	padding: 13px 20px 13px 20px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	font-family: "ProximaNova-SemiBold";
}

.nav-link .menu-button span {
	margin-left: 5px;
}

.nav-link .button-top-menu-icon {
	position: relative;
	bottom:2px;
	width: 13px;
	margin-top: 3px;
}

.navbar .my-navbar-toggler {
	outline: none !important;
}

.saved-icon {
	margin-right: 10px;
	width: 19px;
}

.active-link-indent {
	padding-left: 36px !important;
	padding-right: 45px !important;
	font-size: 16px;
	color: #4b92ce !important;
	font-family: "ProximaNova-Regular";
}

.dropdown-toggle::after {
	border: none !important;
}

.dropdown .down-arrow {
	margin-left: 5px;
}

@media screen and (max-width: 991px) {
	.indent-mr-auto {
		margin-top: 20px;
	}
}

/*Main part*/
.main-title {
	width: 100%;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	font-family: "ProximaNova-Bold";
}

.form-store-url {
	position: relative;
	margin: 0 auto;
	width: 100%;
	margin: 0 15px 0 15px;
}

.form-store-url .input-store-url {
	height: 58px;
	width: 100%;
	padding-left: 50px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #e5e5e5;
	outline: none;
	color: #b2b2b4;
	font-family: "ProximaNova-SemiBold";

	-webkit-box-shadow: 0px 10px 10px -5px rgba(252,252,253,1);
	box-shadow: 0px 10px 10px -5px rgba(252,252,253,1);
}

.form-store-url .attach-input {
	position: relative;
	top: 40px;
	left: 30px;
	width: 14px;
}

.form-store-url .submit-button-add-store {
	position: absolute;
	right: 0;
	top: 25px;
	font-size: 14px;
	padding: 17.5px 35px 17.5px 35px;
	background-color: #4b92ce;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	outline: none !important;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: "ProximaNova-SemiBold";
}

@media screen and (max-width: 576px) {
	.form-store-url .attach-input {
		left: 10px;
	}

	.form-store-url .input-store-url {
		padding-left: 25px;
	}
	.my-navbar-toggler {
		margin-right: 15px;
	}
}

.input-store-url::-webkit-input-placeholder {
	color: #b2b2b4;
	font-size: 16px;
	font-family: "ProximaNova-Regular";
}

.input-store-url:-moz-placeholder {
	color: #b2b2b4;
	font-size: 16px;
	font-family: "ProximaNova-Regular";
}

.input-store-url::-moz-placeholder {
	color: #b2b2b4;
	font-size: 16px;
	font-family: "ProximaNova-Regular";
}

.input-store-url:-ms-input-placeholder {
	color: #b2b2b4;
	font-size: 16px;
	font-family: "ProximaNova-Regular";
}

.dropdown-toggle-ellipsis::after {
	display: none;
}

.my-dropdown-toggle + .show {
	width: 199px;
}

@media screen and (max-width: 1200px) {
	.my-dropdown-toggle + .show {
		width: 100px !important;
	}
}

@media screen and (max-width: 991px) {
	.my-dropdown-toggle + .show {
		margin-left: 15px;
	}
}

.dropdown-menu .dropdown-item-styles {
	font-size: 16px;
	font-family: "ProximaNova-Regular";
}

.select-field {
	margin: 30px 0 0 15px;
}

.select-field .store-text {
	font-size: 14px;
	margin-right: 18px;
	font-family: "ProximaNova-SemiBold";
}

.select-field .select {
	background: url(icons-imgs/svgs/noun_down_928643.svg) no-repeat;
	background-position: 95% 14px; 
	padding-left: 15px;
	width: 270px;
	height: 45px;
	border: 1px solid #e5e5e5;
	background-color: #fff;

	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 25px;
	outline: none;
	font-size: 16px;
	color: #4c4c4c;
	font-family: "ProximaNova-Regular";
}

.main-container {
	margin-top: 40px;
	padding-top: 50px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	-webkit-appearance: none;
	-webkit-box-shadow: 
		inset 0 15px 10px -10px rgb(240,240,241), 
		inset 0 -15px 10px -10px rgb(240,240,241);

	box-shadow: 
		inset 0 15px 10px -10px rgb(240,240,241), 
		inset 0 -15px 10px -10px rgb(240,240,241);
}

@media screen and (max-width: 576px) {
	.main-container {
		width: 290px;
	}
}
.product{
	height: 215px;
	border: 1px solid #e5e5e5;
}

@media screen and (max-width: 1200px) {
	.product{
		height: 177px;
	}
}

@media screen and (max-width: 768px) {
	.product{
		height: 202px;
	}
}

@media screen and (max-width: 576px) {
	.product{
		height: 219px;
	}
}



.product {
	-webkit-background-size: contain;
	background-size: contain;
}


.button-save {
	height: 30px;
	width: 84px;
	float: right;
	margin: 0px 0px 0 0;
	border: none;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	cursor: pointer;
	font-family: "ProximaNova-Light";
}

.button-save span {

}

.saved-icon-click {
	width: 22px;
	margin:0;
	margin-top: 2px;
}

.info-about-img {
	background: #fff;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.info-about-img .title-of-img {
	display: block;
	font-weight: bold;
	padding: 20px 0 20px 0;
	font-size: 18px;
	font-family: "ProximaNova-Light";
	text-align: center;
	line-height: 25px;
	text-transform: uppercase;
}

.info-about-img .time-block {
	margin: 0 auto;
	text-align: center;
}
.info-about-img .time-block img{
	width: 17px;
	margin-bottom: -2px;
}
.info-about-img .time-block span {
	font-size: 16px;
	color: #808080;
	margin-left: 5px;
	font-family: "ProximaNova-Light";
}

.info-about-img .button-add-to-shopify {
	display: block;
	margin: 0 auto;
	padding: 14px 0 14px 0;
	width: 197px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin-top: 18px;
	border: none;
	background-color: #ff7d1e;
	color: #fff;
	outline: none;
	cursor: pointer;
}
.info-about-img .button-add-to-shopify img{
	width: 20px;
	margin-bottom: -3px;
}
.button-add-to-shopify span, .button-description span {
	font-size: 14px;
	margin-left: 5px;
	font-family: "ProximaNova-SemiBold";
}
.info-about-img .button-description img{
	width: 20px;
	margin-bottom: -4px;
}
.info-about-img .button-description {
	display: block;
	margin: 18px auto;
	padding: 14px 0 14px 0;
	width: 197px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 1px solid #e1e2e6;
	background-color: #fff;
	color: #000;
	outline: none;
	cursor: pointer;
}

.website-and-price {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f9f9fa;
	padding: 22px 20px 22px 20px;
	margin-bottom: 30px;
}

.website-and-price .website {
	position: relative;
	bottom: 3px;
	font-size: 14px;
	font-weight: bold;
	color: #4b92ce;
	font-family: "ProximaNova-Light";
}

.website-and-price .price {
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: #666b80;
	font-family: "ProximaNova-Light";
}

.main-container .button-load-more {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 18px 47px 18px 47px;
	border: none;
	outline: none;
	font-size: 15px;
	color: #fff;
	background-color: #4b92ce;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	cursor: pointer;
	font-family: "ProximaNova-SemiBold";
}

/*Bottom section*/
.disclaimer {
	width: 100%;
	padding: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #a3a3a3;
	font-family: "ProximaNova-Light";
	border-bottom: 1px solid #e5e5e5;
}

.copyright-indent {
	margin: 35px 0;
}

.copyright {
	display: block;
	text-align: right;
	font-size: 16px;
	color: #737373;
	font-family: "ProximaNova-Light";
}

@media screen and (max-width: 576px) {
	.copyright {
		text-align: left;
	}
}

.contact-website {
	font-size: 16px;
	color: #737373;
	margin-left: 10px;
	font-family: "ProximaNova-Light";
}

.contact-website a {
	color: #737373;
}

.contactemailinfo{
	margin-top: -7px;
}
.contactemailinfo img{
	width: 35px;
	margin-bottom: -5px;
}



/*savedpage*/

.saved-page-table-cf{
	background: #f5f5f5;
	padding-top: 44px;
	min-height: calc(100vh - 400px);
	padding-bottom: 50px;
}
.saved-page-table{
	background: #fff;
	padding: 35px;
	padding-bottom: 20px;
}
.saved-page-table .table thead th{
	border:0;
	padding: 15px 0 15px 0;
}
.saved-page-table .table thead th h1{
	font-family: "ProximaNova-SemiBold";
	font-size: 13px;
	opacity: 0.8;
	text-transform: uppercase;
}
.saved-page-table .table td{
	padding: 15px 0 10px 0;
}
.saved-page-table .table td p{
	margin:0;
	padding: 0;

	font-family: "ProximaNova-Light";
	font-size: 16px;
	opacity: 0.8;
}
.saved-page-table .table td a{
	margin:0;
	padding: 0;
	
	color: #000;

	font-family: "ProximaNova-Light";
	font-size: 16px;
	opacity: 0.8;
}

.saved-page-table .table td .dropdown a svg{
	float: right;
	width: 20px;
	height: 30px;
	margin-right: -8px;
	fill: #000;
	opacity: 0.8;
}
.saved-page-table .table td .show a svg{
	fill: #ff7d1e;
	opacity: 1;
}
.saved-page-table .table td .dropdown-menu.show{
	border:0;
	font-family: "ProximaNova-Regular";
	font-size: 15px;
	padding: 0;
	min-width: 170px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.saved-page-table .table td .dropdown-menu.show a{
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.saved-page-table .table td .dropdown-menu.show a:hover{
	background: #fff2e8;
	color: #ff7d1e;

}

.img-add-store{
	width: 15px;
	margin-right: 10px;
}


.nav-item .item-block-active-saved{
	height: auto !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	border-left: 5px solid #4b92ce;
	margin-top: 11px;
	padding-left: 50px !important;
}
.navbar-light .navbar-nav .item-block-active-saved{
	color: #4b92ce !important;
}

.main-title-saved{
	padding-bottom: 30px;
}
.nav-item-saved-active{
	height: 80px;
	border-right: 1px solid #e5e5e5;
	padding: 0px 0px 0 0px !important;
	font-size: 16px !important;
	color: #3e3f43 !important;
	outline: none !important;
	font-family: "ProximaNova-Regular";
	background: #edf4fa !important;
}
.main-title-saved .main-title{
		text-align: left;
}
.main-title-saved .main-title span{
	font-size: 30px;
	opacity: 0.4;
	font-family: "ProximaNova-Light";
	position: absolute;
	margin-top: 15px;
	margin-left: 10px;
}
.main-title-saved .form{
	padding-top: 60px;
	float: right;
}
.main-title-saved .form .inputwrap{
	display: inline-block;
}
.main-title-saved .form .inputwrap:before {
    position: absolute;
    width: 20px;
   	margin-left: -10px;
   	margin-top: 2px;
   	opacity: 0.7;
    content: url('icons-imgs/svgs/noun_Search_1111410.svg');

}

.main-title-saved .form button{
	background: #4b92ce;
	border: 0;
	font-family: "ProximaNova-SemiBold";
	font-size: 14px;
	color: #fff;
	padding: 15px 25px 15px 25px;
	border-radius: 50px;
}
.main-title-saved .form input{
	width: 140px;
	border: 0;
	padding-left: 20px;
	font-family: "ProximaNova-Light";
	font-size: 16px;
}
.main-title-saved .form input:focus{
	outline: none;
}
@media screen and (max-width: 991px) {
	.nav-item .item-block-active-saved{
		padding-left: 20px !important;
	}
.navbar-nav .item-block {
		border: none;
	}
	.saved-page-table{
		min-width: 775px;
	}
	.saved-page-table-cf .container{
		overflow-x: scroll;
	}
	.navbar-nav .dropdown-menu {
	    position: relative;
	    float: none;
	    top: 15px;
	}
	.saved-page-table:after{
		content: 'You can scroll right and left';
		font-family: "ProximaNova-Light";
		opacity: 0.5;
		font-size: 13px;
		position: absolute;
		top: 10px;
		right: 10px;
	}

}
@media(max-width: 772px){
	.main-title-saved .main-title{
		text-align: center;
	}
	.forpadd{
		padding-left: 0px;
	}
	.main-title-saved{
		text-align: center;
	}
	.main-title-saved .form{
		float: none;
		padding: 0;
		padding-bottom: 30px;
	}
	.main-title-saved .form input{
		width: 110px;
	}
	.main-title-saved .main-title span{
		position: relative;
		margin:0;
	}

	.disclaimer{
		padding-left: 5px;
		padding-right: 5px;
	}
}

.seved-products-select{
	float: right;
	padding-top: 35px;
}

.saved-products{
	padding-bottom: 50px;
}

.saved{
	background: #ff7d1e;
	color: #fff;
	outline: none;
}
.button-save:focus{
	outline: none;
}
.saved-products-title{
	padding-bottom: 50px !important;
}
.saved-products-t{
	margin: 0;
}


.popupdes .close:not(:disabled):not(.disabled){
	padding-bottom: 0;
	opacity: 1;
}
.popupdes .modal-header{
	border: none;
}
 .modal.show .modal-dialog{
	min-width: 680px;
}
.popupdes h1{
	font-size: 44px;
	padding: 0;
	margin: 0;
	font-family: "ProximaNova-SemiBold";
	margin-bottom: 50px;
}
.popupdes p{
	margin-bottom: 35px;
	font-size: 18px;
	font-family: "ProximaNova-Regular";

}
.popupdes p span{
	font-family: "ProximaNova-SemiBold";
}

.popupdes h2{
	font-size: 20px;
	padding: 0;
	margin: 0;
	font-family: "ProximaNova-SemiBold";
	margin-bottom: 15px;
}
.popupdes .crta{
	width: 100%;
	height: 1px;
	background: #000;
	opacity: 0.1;
	margin-bottom: 15px;
}
.popupdes .pwithrow{
	margin: 0;
	padding-left: 30px;
}
.popupdes .pwithrow:before{
	 position: absolute;
	 width: 17px;
		margin-left: -30px;
		margin-top: 5px;
		opacity: 0.7;
	 content: url('icons-imgs/svgs/noun_right_235042.svg');
}


.againpop{
	width: 120px;
}
.popupdes1 img{
	margin: auto;
	display: block;
}
.popupdes1 .modal-body{
	padding-bottom: 50px;
}
.popupdes1 h1{
	max-width: 570px;
	color: #282a42;
	text-align: center;
	margin: auto;
}
.popupdes1 p{
	margin:0;
	text-align: center;
	margin: auto;
	margin-top: 30px;
}
.popupdes1 .btnadd{

	border: 0;
	margin: auto;
	color: #fff;
	background: #ff7d1e;
	padding: 15px 60px;
	display: block;
	margin: auto;
	margin-top: 20px;
	font-family: "ProximaNova-SemiBold";
	
	border-radius: 50px;
}
.product-sug-active{
	fill: #4b92ce;
}
.navbar-light .navbar-nav .activesugg{
	color: #4b92ce !important;
	border-left: 5px solid #4b92ce;
}


.sug-title{
	text-align: left;
}
